@inject Serenity.Web.IDynamicScriptManager DynamicScriptManager
@inject Serenity.ITextLocalizer Localizer
<!DOCTYPE html>
<html lang="es">

<head>
    <partial name="@MVC.Views.Shared._LayoutSitioHead" />
    @RenderSection("Head", false)
    <title>Rental SPA - @ViewData["Title"]</title>
</head>

<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="icofont-envelope"></i><a href="mailto:@Texts.Sitio.Email.ToString(Localizer)">@Texts.Sitio.Email.ToString(Localizer)</a>
                <i class="icofont-phone"></i> +@Texts.Sitio.PhoneContact.ToString(Localizer)
            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">
            <div class="logo float-left">
                <h1 class="text-light">
                    <a href="/">
                        @*<span>Rental SPA</span>*@
                        <img src="~/Sitio/img/logorental.png"/>
                    </a>
                </h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/">Inicio</a></li>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="#clients">Nuestros Clientes</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <!-- <li>
                      <a href="#team" class="btn btn-outline-primary">Arrendar</a>
                    </li> -->
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->



    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 footer-info"
                         style="justify-content: center; align-content: center">
                        <h3>Rental SPA</h3>
                        <p>
                            Dirección <br />
                            @Texts.Sitio.Address.ToString(Localizer)<br /><br />
                            <strong>Teléfono:</strong> @Texts.Sitio.PhoneContact.ToString(Localizer)<br />
                            <strong>E-mail:</strong> @Texts.Sitio.Email.ToString(Localizer)<br />
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 footer-links"
                         style="justify-content: center; align-content: center">
                        <h4>Links Rápidos</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="/">Inicio</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#about">Nosotros</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#services">Servicios</a>
                            </li>
                             <li>
                              <i class="bx bx-chevron-right"></i> <a href="#clients">Nuestros Clientes</a>
                            </li> 
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#contact">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright @DateTime.Now.Year <strong><span>Rental SPA</span></strong>. Todos los Derechos Reservados.
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://upcode.cl/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/ -->
                Designed by <a href="https://upcode.cl">UP Code</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    @*@Html.ScriptBundle("Base")*@
    @Html.ScriptBundle("Baselight")
    @Html.ScriptBundle("Sitio")
    @Html.ScriptBundle("Sitelight")

    <!-- Template Main JS File -->
    @RenderSection("Scripts", required: false)
</body>
</html>