@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Home";
    Layout = MVC.Views.Shared._LayoutSitio;
}

<!-- ======= Hero Section ======= -->
<section id="hero">
</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        
    </section>
    <!-- End About Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>@Texts.Sitio.Services.ToString(Localizer)</h2>
            </div>

            <div class="row"
                 style="justify-content: center; align-content: center">
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-ui-office"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo Módulos para Oficina</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box"
                     data-aos="fade-up"
                     data-aos-delay="100">
                    <div class="icon"><i class="icofont-box"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo de Módulos para Bodega</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box"
                     data-aos="fade-up"
                     data-aos-delay="100">
                    <div class="icon"><i class="icofont-eco-energy"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo de Módulos para Campamento</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-thunder-light"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo de  Generadores</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-safety-hat"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo de Torres de Iluminación</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-auto-mobile"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo de Camionetas 4x4</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-bus-alt-2"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo de Minibuses</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>
                <div class="col-lg-3 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-car"></i></div>
                    <h4 class="title">
                        <a href="">Arriendo de Autos</a>
                    </h4>
                    <p class="description">

                    </p>
                </div>

                <button class="btn btn-dark">Arrendar Servicio</button>

            </div>

        </div>

    </section>
    <!-- End Services Section -->

    <!-- ======= Our Clients ====== -->
      <section id="clients" class="clients section-bg">
          <div class="container">
              <div class="section-title">
                  <h2>@Texts.Sitio.OurClients.ToString(Localizer)</h2>
              </div>
              <div class="row">
                  <div class="col-lg-12 d-flex" id="ourclients"></div>
                  
              </div>
          </div>

      </section>
    <!-- End Our Clients -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>@Texts.Sitio.Contact.ToString(Localizer)</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Dirección</h3>
                        <p>@Texts.Sitio.Address.ToString(Localizer)</p>
                    </div>
                </div>

                <div class="col-lg-3 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>E-mail</h3>
                        <p>@Texts.Sitio.Email.ToString(Localizer)</p>
                    </div>
                </div>

                <div class="col-lg-3 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Teléfono</h3>
                        <p>+@Texts.Sitio.PhoneContact.ToString(Localizer)</p>
                    </div>
                </div>

                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
                    <form class="php-email-form" name="sentMessage" id="contactForm" novalidate>
                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Su Nombre" required data-validation-required-message="Por favor, ingrese al menos 4 caracteres" />
                                <div class="validate"></div>                           
                            </div>
                            <div class="col-lg-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Su E-mail" data-msg="Por favor, ingrese un correo válido" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-msg="Por favor, ingrese al menos 8 caracteres en el asunto" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="message" name="message" rows="5" data-msg="Por favor, escríbanos su mensaje!" placeholder="Mensaje"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div id="success"></div>

                        </div>
                        <div class="text-center">
                            <button type="submit" id="sendMessageButton">Enviar Mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Us Section -->
</main>
<!-- End #main -->
@section scripts{
    <script type="text/javascript">
        $().ready(function () {
            Rental_SPA.Sitio.SliderService.List({}, resp => {
                ReactDOM.render(React.createElement(Rental_SPA.Sitio.SliderCard, { Items: resp.Entities }), document.querySelector('#hero'));
            })
            Rental_SPA.Sitio.NosotrosService.List({}, resp => {
                ReactDOM.render(React.createElement(Rental_SPA.Sitio.NosotrosCard, { Items: resp.Entities }), document.querySelector('#about'));
            })
            Rental_SPA.Sitio.NuestrosClientesService.List({}, resp => {
                ReactDOM.render(React.createElement(Rental_SPA.Sitio.NuestrosClientesCard, { Items: resp.Entities }), document.querySelector('#ourclients'));
            })
        });
    </script>
}
